/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 100%;
}

article {
  width: 50em;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}
